<div class="loginPanel">
	<div ng-controller="LoginCtrl" class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Login</h3>
				</div>
				<div class="panel-body">
					<div>
						<form class="form-horizontal" name="myform" id="myform" ng-submit="login()">
							<div class="form-group">
								<label class="col-sm-4 label_right">User Name</label>
								<div class="col-sm-8">
									<input 
									type="text" 
									name="username" 
									ng-model="username" 
									class="form-control" 
									id="username" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 label_right">Password</label>
								<div class="col-sm-8">
									<input 
									type="password" 
									name="password" 
									ng-model="password"
									class="form-control" 
									id="password" />
								</div>
							</div>
							<div class="col-sm-12" style='margin-left:120px;color:red;' ng-if="(errormessage)">
								  <label ng-bind='errormessage'></label>
							</div>
							<div class="form-group ">
								<div class="col-sm-4">
									<input type="submit" class="btn btn-primary pull-right" value="Save"/>
								</div>
								<div class="col-sm-4">
									<button type="button" class="btn btn-primary">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>