<div id="wrapper">
	<div id="page-wrapper">
		<div ng-include="'nav.html'"></div>
		<div ng-controller="JournalCtrl" class='row'>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Journal</h3>
				</div>
				<div class="panel-body">
					<form name="myform" id="myform"
						class="form-horizontal fv-form fv-form-bootstrap" ng-init="init()">

						<div class="form-group">
							<label class="col-sm-1 label_right">From</label>
							<div class="col-sm-3">
								<input type="date" class="form-control" name="startDate"
									id="startDate" ng-model="journalSearch.startDate" required
									ng-class="{errors: isValidate(myform,myform.startDate)}" />
							</div>
							<label class="col-sm-1 label_right">To</label>
							<div class="col-sm-3">
								<input type="date" class="form-control" name="endDate"
									id="endDate" ng-model="journalSearch.endDate" required
									ng-class="{errors: isValidate(myform,myform.endDate)}" />
							</div>
						</div>
						<div class="form-group ">
							<span class="col-sm-3"></span>
							<button type="button" class="btn btn-primary" ng-click="clearsearch()">Cancel</button>
							<button type="button" class="btn btn-primary"
								ng-disabled='myform.$invalid' ng-click="search(journalSearch)">Search</button>
							<button type="button" class="btn btn-primary"
								ng-click="exportData(journalSearch)">Download</button>
						</div>
						<div>
							<table class="table table-bordered"
								style="font-size: 13px;">
								<thead>
									<tr>
										<th>Date</th>
										<th>Account No</th>
										<th>Account Name</th>
										<th>Description</th>
										<th>Credit</th>
										<th>Debit</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="personalAcc in journalList.personal.transactions">
										<td ng-bind="personalAcc.transactionDate | date :'dd-MM-yyyy'"></td>
										<td ng-bind="personalAcc.accountNumber"></td>
										<td ng-bind="personalAcc.accountName"></td>
										<td ng-bind="personalAcc.transactionDesc"></td>
										<td class='label_right'
											ng-bind="personalAcc.transactionType == 'CREDIT' ? personalAcc.transactionAmount :''"></td>
										<td class='label_right'
											ng-bind="personalAcc.transactionType == 'DEBIT' ? personalAcc.transactionAmount : ''"></td>
									</tr>
									<tr ng-if="journalList.personal.transactions.length > 0 " style='font-weight:bold;'>
										<td colspan ="2" class='label_right'>Balance : 
										 <span ng-bind="journalList.personal.balance"></span>
										</td>
										<td colspan ="2" class='label_right'>Total</td>
										<td class='label_right' ng-bind='journalList.personal.credit'></td>
										<td class='label_right' ng-bind='journalList.personal.debit'></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
			<div id='tableContent' ng-hide='true'>
				<div ng-include="'/flycatcher/screen/journal/journal.report.html'"></div>
			</div>
		</div>
	</div>
</div>