<div id="wrapper">
	<div id="page-wrapper">
		<div ng-include="'nav.html'"></div>
		<div ng-controller="JournalCtrl" class='row'>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Journal</h3>
				</div>
				<div class="panel-body">
					<form name="myform" id="myform"
						class="form-horizontal fv-form fv-form-bootstrap" ng-init="init()">

						<div class="form-group">
							<label class="col-sm-1 label_right">From</label>
							<div class="col-sm-3">
								<input type="date" class="form-control" name="startDate"
									id="startDate" ng-model="journalSearch.startDate" required
									ng-class="{errors: isValidate(myform,myform.startDate)}" />
							</div>
							<label class="col-sm-1 label_right">To</label>
							<div class="col-sm-3">
								<input type="date" class="form-control" name="endDate"
									id="endDate" ng-model="journalSearch.endDate" required
									ng-class="{errors: isValidate(myform,myform.endDate)}" />
							</div>
						</div>
						<div class="form-group ">
							<span class="col-sm-10"></span>
							<button type="button" class="btn btn-primary"
								ng-disabled='myform.$invalid' ng-click="search(journalSearch)">Search</button>
						</div>
						<div>
							<table class="table table-striped table-bordered" style="font-size:13px;">
								<thead>
									<tr>
										<th>Date</th>
										<th>Account No</th>
										<th>Account Name</th>
										<th>Description</th>
										<th>Credit</th>
										<th>Debit</th>
									</tr>
								</thead>
								<tbody>
								<tr ng-if="journalList.gold.transactions.length > 0">
									<td ng-bind="journalList.gold.accountType" colspan='6'
										class='danger'></td>
								</tr>
								<tr ng-repeat="goldAcc in journalList.gold.transactions"
									style="background-color: #5cb85c !important">
									<td ng-bind="goldAcc.transactionDate | date :'dd-MM-yyyy'"></td>
									<td ng-bind="goldAcc.accountNumber"></td>
									<td ng-bind="goldAcc.accountName"></td>
									<td ng-bind="goldAcc.transactionDesc"></td>
									<td
										ng-bind="goldAcc.transactionType == 'CREDIT' ? goldAcc.transactionAmount :''"></td>
									<td
										ng-bind="goldAcc.transactionType == 'DEBIT' ? goldAcc.transactionAmount : ''"></td>
								</tr>
								<tr ng-if="journalList.gold.transactions.length > 0 "
									class='warning'>
									<td colspan='4' class='label_right'>Total</td>
									<td ng-bind='journalList.gold.credit'></td>
									<td ng-bind='journalList.gold.debit'></td>
								</tr>
								<tr ng-if="journalList.gain.transactions.length > 0 ">
									<td ng-bind="journalList.gain.accountType" colspan='6'
										class='danger'></td>
								</tr>
								<tr ng-repeat="gainAcc in journalList.gain.transactions"
									style="background-color: #5cb85c !important">
									<td ng-bind="gainAcc.transactionDate | date :'dd-MM-yyyy'"></td>
									<td ng-bind="gainAcc.accountNumber"></td>
									<td ng-bind="gainAcc.accountName"></td>
									<td ng-bind="gainAcc.transactionDesc"></td>
									<td
										ng-bind="gainAcc.transactionType == 'CREDIT' ? gainAcc.transactionAmount :''"></td>
									<td
										ng-bind="gainAcc.transactionType == 'DEBIT' ? gainAcc.transactionAmount : ''"></td>
								</tr>
								<tr ng-if="journalList.gain.transactions.length > 0" class='warning'>
									<td colspan='4' class='label_right'>Total</td>
									<td ng-bind='journalList.gain.credit'></td>
									<td ng-bind='journalList.gain.debit'></td>
								</tr>
								<tr ng-if="journalList.capital.transactions.length > 0 ">
									<td ng-bind="journalList.capital.accountType" colspan='6'
										class='danger'></td>
								</tr>
								<tr ng-repeat="capitalAcc in journalList.capital.transactions"
									style="background-color: #5cb85c !important">
									<td ng-bind="capitalAcc.transactionDate | date :'dd-MM-yyyy'"></td>
									<td ng-bind="capitalAcc.accountNumber"></td>
									<td ng-bind="capitalAcc.accountName"></td>
									<td ng-bind="capitalAcc.transactionDesc"></td>
									<td
										ng-bind="capitalAcc.transactionType == 'CREDIT' ? capitalAcc.transactionAmount :''"></td>
									<td
										ng-bind="capitalAcc.transactionType == 'DEBIT' ? capitalAcc.transactionAmount : ''"></td>
								</tr>
								<tr ng-if="journalList.capital.transactions.length > 0 " class='warning'>
									<td colspan='4' class='label_right'>Total</td>
									<td ng-bind='journalList.capital.credit'></td>
									<td ng-bind='journalList.capital.debit'></td>
								</tr>
								<tr ng-if="journalList.bank.transactions.length > 0 ">
									<td ng-bind="journalList.bank.accountType" colspan='6'
										class='danger'></td>
								</tr>
								<tr ng-repeat="bankAcc in journalList.bank.transactions"
									style="background-color: #5cb85c !important">
									<td ng-bind="bankAcc.transactionDate | date :'dd-MM-yyyy'"></td>
									<td ng-bind="bankAcc.accountNumber"></td>
									<td ng-bind="bankAcc.accountName"></td>
									<td ng-bind="bankAcc.transactionDesc"></td>
									<td
										ng-bind="bankAcc.transactionType == 'CREDIT' ? bankAcc.transactionAmount :''"></td>
									<td
										ng-bind="bankAcc.transactionType == 'DEBIT' ? bankAcc.transactionAmount : ''"></td>
								</tr>
								<tr ng-if="journalList.bank.transactions.length > 0 " class='warning'>
									<td colspan='4' class='label_right'>Total</td>
									<td ng-bind='journalList.bank.credit'></td>
									<td ng-bind='journalList.bank.debit'></td>
								</tr>
								<tr ng-if="journalList.personal.transactions.length > 0 ">
									<td ng-bind="journalList.personal.accountType" colspan='6'
										class='danger'></td>
								</tr>
								<tr ng-repeat="personalAcc in journalList.personal.transactions"
									style="background-color: #5cb85c !important">
									<td ng-bind="personalAcc.transactionDate | date :'dd-MM-yyyy'"></td>
									<td ng-bind="personalAcc.accountNumber"></td>
									<td ng-bind="personalAcc.accountName"></td>
									<td ng-bind="personalAcc.transactionDesc"></td>
									<td
										ng-bind="personalAcc.transactionType == 'CREDIT' ? personalAcc.transactionAmount :''"></td>
									<td
										ng-bind="personalAcc.transactionType == 'DEBIT' ? personalAcc.transactionAmount : ''"></td>
								</tr>
								<tr ng-if="journalList.personal.transactions.length > 0 "
									class='warning'>
									<td colspan='4' class='label_right'>Total</td>
									<td ng-bind='journalList.personal.credit'></td>
									<td ng-bind='journalList.personal.debit'></td>
								</tr>

								<tr ng-if="journalList.expense.transactions.length > 0 ">
									<td ng-bind="journalList.expense.accountType" colspan='6' class='danger'></td>
								</tr>
								<tr ng-repeat="expenseAcc in journalList.expense.transactions"
									style="background-color: #5cb85c !important">
									<td ng-bind="expenseAcc.transactionDate | date :'dd-MM-yyyy'"></td>
									<td ng-bind="expenseAcc.accountNumber"></td>
									<td ng-bind="expenseAcc.accountName"></td>
									<td ng-bind="expenseAcc.transactionDesc"></td>
									<td
										ng-bind="expenseAcc.transactionType == 'CREDIT' ? expenseAcc.transactionAmount :''"></td>
									<td
										ng-bind="expenseAcc.transactionType == 'DEBIT' ? expenseAcc.transactionAmount : ''"></td>
								</tr>
								<tr ng-if='journalList.expense.transactions.length > 0'
									class='warning'>
									<td colspan='4' class='label_right'>Total</td>
									<td ng-bind='journalList.expense.credit'></td>
									<td ng-bind='journalList.expense.debit'></td>
								</tr>
							</tbody>
						</table>
					   </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>