<table border="1"
	style="width: 50%; font-size: 13px; background-color: white;">
	<thead>
		<tr>
			<th colspan="4"
				style='text-align: center; background-color: #337ab7;'>M.RM</th>
		</tr>
		<tr>
			<th colspan="4"
				style='text-align: center; background-color: #337ab7;'>Trichy</th>
		</tr>
		<tr>
			<th colspan='2' style='text-align: left; background-color: #337ab7;'>
				Journal Report For {{reportStartDate}} to {{reportEndDate}}</th>
			<th colspan='2' style='text-align: left; background-color: #337ab7;'>Date:{{todayDate}}</th>
		</tr>
		<tr>
			<th>DATE</th>
			<th>Account Name</th>
			<th>Credit</th>
			<th>Debit</th>
		</tr>
	</thead>

	<tbody ng-repeat='individualJournal in journalList'>
		<tr>
			<td colspan="4" class='text-uppercase'><span>{{individualJournal[0].accountName}}
					Account</span></td>
		</tr>
		<tr ng-repeat='journal in individualJournal'>
			<td ng-bind="journal.transactionDate | date :'dd-MM-yyyy'"></td>
			<td ng-bind="journal.accountName"></td>
			<td
				ng-bind="journal.transactionType == 'CREDIT' ? journal.transactionAmount :''"></td>
			<td
				ng-bind="journal.transactionType == 'DEBIT' ? journal.transactionAmount : ''"></td>
		</tr>
		<tr style='font-weight: bold;'>
			<td style="text-align: right;">Balance : <span
				ng-bind="individualJournal[0].commonInfo.balance"></span></td>
			<td style="text-align: right;">Total</td>
			<td style="text-align: right;"
				ng-bind="individualJournal[0].commonInfo.creditTotal"></td>
			<td style="text-align: right;"
				ng-bind="individualJournal[0].commonInfo.debitTotal"></td>
		</tr>
	</tbody>
</table>