<div>
	<table border="1"
		style="width: 50%; font-size: 13px; background-color: white;">
		<thead>
			<tr>
				<th colspan="5"
					style='text-align: center; background-color: #337ab7;'>M.RM</th>
			</tr>
			<tr>
				<th colspan="5"
					style='text-align: center; background-color: #337ab7;'>Trichy</th>
			</tr>
			<tr>
				<th colspan='3' style='text-align: left; background-color: #337ab7;'>
					Daybook Report For {{reportStartDate}} to {{reportEndDate}}</th>
				<th colspan='2' style='text-align: left; background-color: #337ab7;'>Date:{{todayDate}}</th>
			</tr>
			<tr>
				<th>Date</th>
				<th>Account No</th>
				<th>Account Name</th>
				<th>Credit</th>
				<th>Debit</th>
			</tr>
		</thead>
		<tbody ng-repeat='cash in cashBookSearchList'>
			<tr ng-repeat="eachEntry in cash.transactions">
				<td ng-bind="eachEntry.transactionDate | date: 'dd-MM-yyyy' "></td>
				<td ng-bind='eachEntry.accountNumber'></td>
				<td ng-bind='eachEntry.accountName'></td>
				<td
					ng-bind="eachEntry.transactionType == 'CREDIT' ? eachEntry.transactionAmount :''"></td>
				<td
					ng-bind="eachEntry.transactionType == 'DEBIT' ? eachEntry.transactionAmount : ''"></td>
			</tr>
			<tr ng-if='cash.balance > 0' style='font-weight: bold;'>
				<td colspan='3' style='font-size: 14px; text-align:right;'>Balance : <span ng-bind='cash.balance'></span></td>
				<td><span ng-if="cash.credit" ng-bind="cash.credit"></span></td>
				<td><span ng-if="cash.debit" ng-bind="cash.debit"></span></td>
			</tr>
		</tbody>
	</table>
</div>