<div id="wrapper">
	<div id="page-wrapper">
		<div ng-include="'nav.html'"></div>
		<div ng-controller="DayBookCtrl" class="row">
			<div ng-show='!dayBookView'>
				<div class="col-sm-5">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Day Book</h3>
						</div>
						<div class="panel-body">
							<form class="form-horizontal fv-form fv-form-bootstrap"
								id="myform" name="myform" ng-init="init()" novalidate>
								<div class="form-group">
									<label class="col-sm-4 label_right">Date</label>
									<div class="col-sm-8">
										<input type="date" class="form-control" name="date" id="date"
											ng-model="daybook.transactionDate" required
											ng-class="{errors: isValidate(myform,myform.date)}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 label_right">Account Type</label>
									<div class="col-sm-8">
										<select class="form-control" name="accountType"
											id="accountType" ng-model="daybook.accountType" required
											ng-class="{errors: isValidate(myform,myform.accountType)}"
											ng-options="account.id as account.accountType for account in accountTypeList"
											ng-change="loadAccounts(daybook.accountType);">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 label_right">Account</label>
									<div class="col-sm-8">
										<select class="form-control" name="accountName"
											id="accountName" ng-model="daybook.accountId"
											ng-class="{errors: isValidate(myform,myform.accountName)}"
											required ng-disabled='daybook.accountType ==null'
											ng-options="acc.accountId as concatName(acc.firstName,acc.accountNumber) for acc in accountList">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 label_right">Amount</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="amount"
											ng-model="daybook.transactionAmount" id="amount" required
											ng-class="{errors: isValidate(myform,myform.amount)}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 label_right">Type</label>
									<div class="col-sm-8">
										<label class="col-sm-4 label_right"> <input
											type="radio" name="type" ng-model="daybook.transactionType"
											id="creditType" required value="CREDIT"
											ng-class="{errors: isValidate(myform,myform.type)}" />Credit
										</label> <label class="col-sm-4 label_right"> <input
											type="radio" name="type" ng-model="daybook.transactionType"
											id="debitType" required value="DEBIT"
											ng-class="{errors: isValidate(myform,myform.type)}" />Debit
										</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 label_right">Notes : </label>
									<div class="col-sm-8 label_right">
										<textarea class="form-control" id="description"
											name="description" ng-model="daybook.transactionDesc"
											rows="2" cols="20"
											ng-class="{errors: isValidate(myform,myform.description)}">
									</textarea>
									</div>
								</div>
								<div class="form-group ">
									<span class="col-sm-8"></span>
									<button type="button" class="btn btn-primary"
										ng-click="clear(myform)">Clear</button>
									<button type="button" class="btn btn-primary"
										ng-disabled='myform.$invalid'
										ng-click="saveOrUpdateDaybook(myform,daybook)">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Day Book Records</h3>
						</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label class="col-sm-2 label_left">Search</label>
								</div>
								<div class="form-group">
									<div class="col-sm-6 searchTextBox">
										<input type="text" class="form-control" id="search"
											ng-model="searchText">
									</div>
									<div class="col-sm-4">
										<button type="button" class="btn btn-primary"
											ng-click="hide(true)">View Daybook</button>
									</div>
								</div>
							</form>
							<div>
								<table class="table table-striped table-bordered"
									style="font-size: 13px;">
									<thead>
										<th><em class="fa fa-cog"></em></th>
										<th>Date</th>
										<th>Account Name</th>
										<th>Account No</th>
										<th>Credit</th>
										<th>Debit</th>
									</thead>
									<tbody>
										<tr ng-repeat="daybook in dayBookList | filter : searchText">
											<td align="center"><a class="btn btn-default"
												ng-click="editBook(daybook,daybook.accountTypeId)"><em
													class="fa fa-pencil"></em></a> <a class="btn btn-danger"
												ng-click="deleteBook(daybook)"><em class="fa fa-trash"></em></a></td>
											<td ng-bind="daybook.transactionDate | date :'dd-MM-yyyy'"></td>
											<td ng-bind="daybook.accountName"></td>
											<td ng-bind="daybook.accountNumber"></td>
											<td
												ng-bind="daybook.transactionType=='CREDIT' ? daybook.transactionAmount : ''"></td>
											<td
												ng-bind="daybook.transactionType=='DEBIT' ? daybook.transactionAmount :''"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row" class='col-sm-12'>
						<div class="col-sm-8"></div>
						<div class="col-sm-4">
							<span class="fa fa-angle-left fa-2x" ng-click="previous()"></span> <span
								style="margin-left: 10px; margin-right: 10px; font-weight: bold; font-size: 17px;">
								{{pageProperty.pageNumber}} of
								{{pageProperty.totalPages -1 }} </span> 
								<span class="fa fa-angle-right fa-2x" ng-click="next()"></span>
						</div>
					</div>
				</div>
			</div>
			<div ng-show='dayBookView' ng-init=search()>
				<div ng-include="'/flycatcher/screen/dayBook/daybook.view.html'"></div>
			</div>
		</div>
	</div>
</div>
